@using PurpleBuzz_Backend.Areas.Admin.ViewModels.ContactIntro
@model ContactIntroUpdateViewModel

@*@using PurpleBuzz_Backend.Models
@model ContactIntroComponent*@

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description">
                            Update contact intro component
                        </p>
                        <form method="post" asp-action="update" asp-controller="contactintro" asp-area="admin">
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input class="form-control" asp-for="Title">
                                <span class="text-danger" asp-validation-for="Title"></span>

                                <br />
                                <label asp-for="Description">Text</label>
                                <input class="form-control" asp-for="Description">
                                <span class="text-danger" asp-validation-for="Description"></span>

                                <br />

                                <label asp-for="PhotoPath">FilePath</label>
                                <input class="form-control" asp-for="PhotoPath">
                                <span class="text-danger" asp-validation-for="PhotoPath"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
