@using PurpleBuzz_Backend.Models
@model RecentWorkComponent
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description">
                            Create Category
                        </p>
                        <form method="post" asp-action="create" asp-controller="recentwork" asp-area="admin">
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input class="form-control" asp-for="Title">
                                <span class="text-danger" asp-validation-for="Title"></span>

                                <label asp-for="Text">Text</label>
                                <input class="form-control" asp-for="Text">
                                <span class="text-danger" asp-validation-for="Text"></span>

                                <label asp-for="FilePath">FilePath</label>
                                <input class="form-control" asp-for="FilePath">
                                <span class="text-danger" asp-validation-for="FilePath"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}